# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
dist
# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env

npm-debug.log*

# Cypress
**/videos
**/screenshots
**/downloads
**/cypress.env.json

# Pact
pacts
pact/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# nodemon
prisma/dev.db
prisma/dev.db-journal
scripts/one-time-scripts/create-github-issue-test1.sh
scripts/one-time-scripts/create-pact-webhook-real.sh
